/* ======================================== */
/* BASIC_SETUP_start */
/* ======================================== */
@import url('https://fonts.google.com/css?family=Raleway');
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:lightgreen;
  
}
/* ======================================== */
/* header_start */
/* ======================================== */
.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
  }
  
  .header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
  }
  
  .header__logo {
    height: 72px;
    margin-right: 1em;
    margin-left: 1px;
    vertical-align: top;
    margin-top: 12px;
  }
  
  .header__title {
    font-weight: 400;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
   
  }
 /* ======================================== */
/* header_end */
/* ======================================== */ 

h1,h3{
    font-size: 100%;
    line-height:75%;
    text-align:justify;
    margin: 3%;
    font-family: sans-serif;

}
p{
    font-size: 100%;
    line-height:200%;
    text-align:justify;
    margin: 3%;
    font-family: sans-serif;
    color:black;

}
